<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Urban Cloud</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="login-left">
				<div class="bg-tr">
					<div class="info">
						<h1>Urban Cloud</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestias quas illum molestiae modi
						</p>
					</div>
				</div>
			</div>
            <div class="login-right">
                {{> messages }}
                {{{ body }}}
			</div>
        </div>
    </div>
</body>
</html>