{{> errors }}
<form action="/users/signup" method="POST">
    <div class="form-group">
        <input type="text" name="userName" placeholder="User Name" value="{{ userName }}">
    </div>
    <div class="form-group">
        <input type="email" name="email" placeholder="E-Mail" value="{{ email }}" autocomplete="off">
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" name="confirmPassword" placeholder="Password">
    </div>
    <input type="submit" class="btn-login" value="Sign Up">
        <hr>
    <p>do you have account? <a href="/users/signin">SIGN IN</a></p>
</form>